.card {
   height: 215px;
   width: auto;
    float: left;
    cursor: pointer;
    transition: all .2s ease-in-out;
    overflow: hidden;
    padding: 10px;
    text-align: center;
  }
  
  .card:hover {
      transform: scale(1.06);
  }
  
  img {
    height: 215px;
    width: 215px;
  }